.card{
    width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.card img{
    height: 60vh;
    border: 5px solid black;

}
@media(max-width: 800px){
    .card img{
        height: 55vh;
    }
    
}
@media(max-width: 600px){
    .card img{
        height: 50vh;
    }
    
}
@media(max-width: 500px){
    .card img{
        height: 40vh;
    }
    
}
@media(max-width: 400px){
    .card img{
        height: 30vh;
    }
    
}
@media(max-width: 350px){
    .card img{
        height: 25vh;
    }
    
}