.Heading {
    color: black;
    padding-left: 2vw;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    font-size: 4vh;
    font-weight: bolder;
    position: relative;

}
.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2vw;
    transition: 0.3s ease;
}
.leftarrow{
    z-index: 3;
    position: relative;
    left: 0.2vw;
    height: 8vh;
    bottom: 18vh;
}
.rightarrow{
    z-index: 3;
    position: relative;
    left:  96vw;
    height: 8vh;
    bottom: 18vh;
}
.leftarrow, .rightarrow{
    color: white;
    background-color: black;
    font-size: 1.5rem;
    border: 2px solid gold;
}